{% extends 'web_app/base/base.html' %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-10 mx-auto shadow text-center border-top">
                <div class="h2 border-bottom py-5 text-center">Seguro que quieres eliminar<br><br>{{ propiedad }}</div>
                
                <div class="py-5">
                    <form method="post">
                        {% csrf_token %}
                        <button class='btn btn-danger fw-bold' type="submit"><i class="fa-solid fa-trash-can"></i> Eliminar</button> 
                    </form>      
                </div>
            </div>
        </div>
    </div>
{% endblock %}