<footer class="container-fluid text-center pt-2 fixed-bottom" style="background-color: rgb(0, 0, 0);">
    <div class="container fs-5 fw-bold">
        <div class = "py-3 text-white">Encuentranos en nuestras Redes Sociales:</div>
        <div class = "row fs-1 pb-3">
            <div class="col-8 d-flex mx-auto justify-content-around">
                <a class="text-warning" href=""><i class="fa-brands fa-facebook"></i></a>
                <a class="text-warning" href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a class="text-warning" href=""><i class="fa-brands fa-instagram"></i></a>
                <a class="text-warning" href=""><i class="fa-brands fa-whatsapp"></i></a>    
            </div>
        </div>
    </div>    
</footer>    

